@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #1a1a1b;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-brand-primary: #1179f4;
  --color-brand-secondary: #7ed321;
  --color-brand-accent: #eef8ff;
  --color-brand-accent-green: #f1fbe8;
  --color-brand-deep: #0c2440;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  display: block;
}
